  html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
  }
  
  .overlay {
    position: absolute;
    top: 65px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1; 
  
    /* GLASS */
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 8px 32px 0 rgba(58, 66, 181, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
  }

  .show-overlay {
    display: block;
  }
  
  /*Hover de elementos "a" de navbar*/
  .navbar-list li {
    position: relative;
    padding: 0;
  }
  
  .navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--text-white);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.15s ease;
  }
  
  .navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  /*CARRITO */
  /*Despues de cambiar el carrito en el html y en styles.css , aplicamos una animación en hover*/
  .cart-icon {
    transition: all 0.2s ease-out;
  }
  
  .cart-icon:hover {
    color: var(--electric);
    border-color: var(--electric);
    transition: all 0.2s ease-in;
  }
  
  /*Botones carro*/
  .quantity-handler {
    transition: all 0.2s ease-in;
  }
  
  .quantity-handler:hover {
    cursor: pointer;
    background-color: var(--electric);
    transition: all 0.2s ease-in;
  }
  
  /*Botones comprar(carrito)-add(producto) -Hero*/
  .btn-add,
  .hero-info a {
    transition: all 0.2s ease-out;
  }
  
  .btn-add:hover,
  .hero-info a:hover {
    background-color: var(--fire);
    transition: all 0.2s ease-in;
  }
  
  /* Boton VER MAS */
  .btn-load {
    transition: all 0.2s ease-out;
    font-weight: 600;
  }
  
  .btn-load:hover {
    background-color: var(--electric);
    color: var(--text-white);
    transition: all 0.2s ease-in;
  }

  
  /* Animacion fade */

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Animacion slide arriba */

  @keyframes slide-up {
    from {
      transform: translateY(100px);
    }
    to {
      transform: translateY(0);
    }
  }
  
  /* Animacion slide derecha */

  
  @keyframes slide-right {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Animacion h1 */
  .hero-info h1 {
    animation: fade 1s ease-in, slide-up 1.3s ease-in-out;
  }
  
  /* Animacion p */
  .hero-info p {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.3s;
  }
  
  /* Animacion button */
  .hero-info a {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
  }
  
  /* Animacion card hero */
  .hero-card {
    opacity: 0;
    animation: fade 1s ease-in forwards, slide-right 1.3s ease-in-out;
    animation-delay: 0.2s;
  }
  
  /* Animacion Seccion 2 */
  #info h2 {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 0.9s ease-in-out;
    animation-delay: 0.4s;
  }
  
  /* Animacion cards seccion 2 */
  .info-card {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
  }
  
  /*Delay en cards.*/
  .info-card:nth-child(1) {
    animation-delay: 0.8s;
  }
  .info-card:nth-child(2) {
    animation-delay: 0.7s;
  }
  .info-card:nth-child(3) {
    animation-delay: 1s;
  }
  
  /*imgs de cards con interaccion*/
  .product img {
    transition: all 0.3s linear;
  }
  
  .product img:hover {
    transform: scale(1.02);
    transition: all 0.3s linear;
  }
  
  /* Animacion typing */

  @keyframes blink {
    to {
      background: transparent;
      opacity: 0;
    }
  }
  
  /*texto entrando*/
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  .hero-info h1 span {
    position: relative;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
  }
  
  .hero-info h1 span::before,
  .hero-info h1 span::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .hero-info h1 span::before {
    background-color: var(--background);
    animation: typewriter 1.2s 1.4s steps(10) forwards;
  }
  
  .hero-info h1 span::after {
    width: 0.1rem;
    background: linear-gradient(to top, #30cfd0, #c43ad6);
    animation: typewriter 1.2s 1.4s steps(10) forwards,
      blink 0.8s steps(10) infinite;
  }